* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'GothamSSm', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}


@font-face {
    font-family: "gothamSSm";
    src: url(https://cdn-design.tesla.com/tds-fonts/3.x/woff2/GothamSSm-Light_Web.woff2) format("woff2");
    font-weight: light;
}

html {
    font-size: var(--FONT_SIZE_10);
    scroll-behavior: smooth;
}

.vertical--section {
    display: flex;
    flex-direction: column;
}

.horizontal--section {
    display: flex;
}

#upper_navbar {
    position: sticky;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: var(--FONT_SIZE_15);
    font-weight: bold;
    font-family: GothamSSm, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

#upper_navbar__logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin: var(--FONT_SIZE_20);
    font-size: var(--FONT_SIZE_30);
    margin: 0;
}

#upper_navbar__logo img {
    max-width: 100%;
    height: 9rem;
}

#message_icon {
    position: fixed;
    bottom: var(--FONT_SIZE_80);
    right: var(--FONT_SIZE_40);
}

img.message_icon {
    max-width: 100%;
    height: var(--FONT_SIZE_50);
    padding: 1rem;
    z-index: 3;
}

#message_icon button {
    border-radius: 50%;
    background-color: rgb(251, 249, 249);
    box-shadow: inset 4 1px;
}

#upper_navbar__middle_ul, #upper_navbar__right_ul, .vertical--section {
    list-style: none;
}

#upper_navbar__middle_ul {
    flex: 2;
    justify-content: center;
}

.upper_nav_li {
    margin: var(--FONT_SIZE_20);
}
.upper_nav_li:hover ,.right_nav_li:hover{
    background-color:grey;
    border-radius: 20px;
    padding: var(--FONT_SIZE_8) var(--FONT_SIZE_20);
}
#upper_navbar__right_ul {
    flex: 1;
    justify-content: flex-end;
}

.right_nav_li {
    margin: var(--FONT_SIZE_20);
}

#main_header {
    flex: 3;
    justify-content: center;
    font-size: var(--FONT_SIZE_20);
    font-weight: 100;
}

#empty_section {
    flex: 6;
}

#part1_header {
    text-align: center;
}

#part1, #part2, #part3 {
    height: 100vh;
    width: 100vw;
}

#footer1 {
    flex: 3;
    font-size: var(--FONT_SIZE_17);
}

#footer1_ul {
    justify-content: center;
}

#speed-number {
    justify-content: center;
}

.first_footer_li {
    margin: 2rem;
    justify-content: flex-start;
    margin: var(--FONT_SIZE_100) var(--FONT_SIZE_40);
}

.first_footer_li h2 {
    margin-bottom: var(--FONT_SIZE_8);
    font-size: var(--FONT_SIZE_28);
}

.first_footer_li h6 {
    font-size: var(--FONT_SIZE_12);
    line-height: var(--FONT_SIZE_20);
}

#first_footer_li4 h5 {
    border: var(--FONT_SIZE_3) solid var(--LIGHT_COLOR);
    border-radius: 20px;
    padding: 0.7rem;
    width: auto;
    padding-right: var(--FONT_SIZE_40);
    padding-left: var(--FONT_SIZE_40);
}

#first_footer_li4 h5:hover {
    background-color: var(--LIGHT_COLOR);
    color: var(--DARK_COLOR);
}

#part1 {
    background: url("../img/car1.jpg") no-repeat center center/cover;
    color: var(--LIGHT_COLOR);
    overflow: auto;
}


#chassis {
    width: 75vw;
    background: url("../img/car2.jpg") no-repeat center center/cover;
}

#chassis-text {
    width: 25vw;
    align-items: center;
    font-size: var(--FONT_SIZE_14);
    line-height: var(--FONT_SIZE_20);
    font-family: GothamSSm, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

#chassis-text__upper {
    flex: 1;
    padding-top: var(--FONT_SIZE_30);
    padding-right: var(--FONT_SIZE_50);
}

#chassis-text__upper * {
    text-align: left;
    line-height: var(--FONT_SIZE_20);
}

#chassis-text__upper p, h2 {
    text-align: left;
    margin-bottom: var(--FONT_SIZE_20);
}

#chassis-text__upper a {
    text-decoration: underline;
    color: var(--DARK_COLOR);
}

#chassis-text__upper h2 {
    line-height: var(--FONT_SIZE_40);
}

#chassis-text__upper h3 {
    font-weight: 200;
}

.order_button {
    width: 25vw;
    flex: 1;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 3rem;
}

#chassis-text__lower section {
    min-height: fit-content;
    width: 100%;
}

#chassis-text__lower a {
    text-decoration: none;
    color: var(--DARK_COLOR);
}

.learn_more_button {
    display: flex;
    background-color: none;
    margin-right: 1rem;
    background-color: transparent;
    border: none;
    align-items: center;
}

#chassis-text__lower .order_now:hover, #chassis-text__lower .plus:hover, #quickest_acceleration__lower .plus:hover, #quickest_acceleration__lower .order_now:hover {
    background-color: var(--DARK_COLOR);
    color: var(--LIGHT_COLOR);
}

.plus {
    display: inline-block;
    border: 2px solid var(--DARK_COLOR);
    border-radius: 50%;
    width: var(--FONT_SIZE_30);
    height: var(--FONT_SIZE_30);
    padding-top: 0.6rem;
    margin-right: 1rem;
}

.order_now {
    border: 0.3rem solid var(--DARK_COLOR);
    border-radius: 20px;
    padding: var(--FONT_SIZE_9) var(--FONT_SIZE_50);
}

#part2 {
    color: var(--DARK_COLOR);
}

#part3__picture {
    background: url("../img/car3.jpg") no-repeat center center/cover;
    height: 78vh;
    justify-content: flex-end;
    align-items: center;
}

#part3__picture_ul {
    width: 60%;
    height: 36%;
    justify-content: center;
    align-items: center;
    color: var(--LIGHT_COLOR);
    margin-bottom: 2.5rem;
}

#part3__picture_ul li {
    text-align: center;
    align-items: center;
}

#part3__picture_ul h6 {
    font-size: 1.2rem;
}

#part3__picture_ul h2 {
    font-size: 2.8rem;
}

#second_footer {
    height: 22vh;
}

#second_footer__empty_box {
    width: 20vw;
}

#quickest_acceleration {
    width: 23vw;
    justify-content: flex-start;
    text-align: left;
    box-sizing: border-box;
    margin-top: 4rem;
}

#quickest_acceleration p {
    text-align: left;
    font-size: 1.7rem;
}

#quickest_acceleration h2 {
    text-align: left;
    font-size: 2.8rem;
    line-height: 4rem;
}

#quickest_acceleration__lower {
    align-items: flex-start;
    width: auto;
    font-size: 1.2rem;
    justify-content: flex-start;
}

#quickest_acceleration a {
    text-decoration: none;
    color: var(--DARK_COLOR);
}

#second_footer__text {
    width: 55vw;
}

#second_footer__text p {
    font-size: var(--FONT_SIZE_14);
    font-weight: 500;
    text-align: left;
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right: 35rem;
    line-height: 2rem;
}

aside {
    height: 100vh;
    width: 2vw;
    flex-flow: column nowrap;
    inset-inline-start: 0;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 3;
    color: var(--LIGHT_COLOR);
}


#aside__ul {
    height: 100vh;
    color: var(--LIGHT_COLOR);
    display: block;
    list-style-type: none;
    line-height: 3rem;
    margin-top: 37vh;
}

#aside__ul a {
    line-height: 0.5rem;
    font-size: 2.4rem;
    font-weight: 100;
    list-style-type: none;
    width: 2.0rem;
    text-align: left;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--LIGHT_COLOR);
    position: relative;
}

#sidebar_li1 {
    font-weight: 800;
}

#sidebar_li1:hover::before {
    content: 'MODEL 3';
    position: absolute;
    right: -60px;
    width: 50px;
    z-index: 3;
    opacity: 1;
    font-size: 1.0rem;
    box-sizing: border-box;
    display: block;
    font-weight: 600;
    height: 75.36rem;
    line-height: 2rem;
}

#sidebar_li2:hover::before {
    content: 'SAFETY';
    position: absolute;
    right: -60px;
    width: 50px;
    z-index: 3;
    opacity: 1;
    font-size: 1.0rem;
    box-sizing: border-box;
    display: block;
    font-weight: 600;
    height: 75.36rem;
    line-height: 2rem;
}

#sidebar_li3:hover::before {
    content: 'PERFORMANCE';
    position: absolute;
    right: -60px;
    width: 50px;
    z-index: 3;
    opacity: 1;
    font-size: 1.0rem;
    box-sizing: border-box;
    display: block;
    font-weight: 600;
    height: 75.36rem;
    line-height: var(--FONT_SIZE_20);
}

#sidebar_li4:hover::before {
    content: 'ALL-WHEEL DRIVE';
    position: absolute;
    right: -60px;
    width: 50px;
    z-index: 3;
    opacity: 1;
    font-size: 1.0rem;
    box-sizing: border-box;
    display: block;
    font-weight: 600;
    height: 10rem;
    line-height: var(--FONT_SIZE_20);
}

#sidebar_li5:hover::before {
    content: 'RANGE';
    position: absolute;
    right: -60px;
    width: 50px;
    z-index: 3;
    opacity: 1;
    font-size: 1.0rem;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 600;
    height: 75.36rem;
    line-height: 2rem;
}

#sidebar_li6:hover::before {
    content: 'AUTOPILOT';
    position: absolute;
    right: -60px;
    width: 50px;
    z-index: 3;
    opacity: 1;
    font-size: 1.0rem;
    box-sizing: border-box;
    display: block;
    font-weight: 600;
    height: 75.36rem;
    line-height: 2rem;
}

#sidebar_li7:hover::before {
    content: 'INTERIOR';
    position: absolute;
    right: -60px;
    width: 50px;
    z-index: 3;
    opacity: 1;
    font-size: 1.0rem;
    box-sizing: border-box;
    display: block;
    font-weight: 600;
    height: 75.36rem;
    line-height: var(--FONT_SIZE_20);
}

#sidebar_li8:hover::before {
    content: 'SPECS';
    position: absolute;
    right: -60px;
    width: 50px;
    z-index: 3;
    opacity: 1;
    font-size: 1.0rem;
    box-sizing: border-box;
    display: block;
    font-weight: 600;
    height: 75.36rem;
    line-height: var(--FONT_SIZE_20);
}

#sidebar_li9:hover::before {
    content: 'ORDER';
    position: absolute;
    right: -60px;
    width: 50px;
    z-index: 3;
    opacity: 1;
    font-size: 1.0rem;
    box-sizing: border-box;
    display: block;
    font-weight: 600;
    height: 75.36rem;
    line-height: var(--FONT_SIZE_20);
}